{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}OAI-PMH Provider Request Form{% endblock %}

{% block box_tools %}
{% endblock %}

{% block box_body %}
    <div class="alert alert-warning" id="banner_submit_wait"
         style="display: none">
        <h4><i class='fas fa-circle-notch fa-spin'></i>&nbsp;&nbsp;Please wait ...</h4>
    </div>
    <div class="alert alert-error" id="banner_build_errors"
         style="display: none">
        <h4><i class="fas fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="build_errors">
        </div>
    </div>
    <div id="request-builder-form" class="p-3">
    {% if data.request_form.fields.data_provider.choices|length > 1 %}
        <form class="form-horizontal">
            <div class="form-group">
                <label>
                    {{data.request_form.data_provider.label}}:
                </label>
                <div>
                    {{data.request_form.data_provider}}
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.verb.label}}:
                </label>
                <div>{{data.request_form.verb}}</div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.set.label}}:
                </label>
                <div>{{data.request_form.set}}</div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.metadata_prefix.label}}:
                </label>
                <div>
                    {{data.request_form.metadata_prefix}}
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.identifier.label}}:
                </label>
                <div>{{data.request_form.identifier}}</div>
            </div>
            <div class="form-group">
                <label >
                    {{data.request_form.from_date.label}}:
                </label>
                <div>
                    <div class="input-group">
                        <span class="m-1"
                              onclick="$('#{{data.request_form.from_date.id_for_label}}').focus();">
                            <i class="fas fa-calendar"></i>
                        </span>
                        {{data.request_form.from_date}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.until_date.label}}:
                </label>
                <div>
                    <div class="input-group">
                        <span class="m-1"
                              onclick="$('#{{data.request_form.until_date.id_for_label}}').focus();">
                            <i class="fas fa-calendar"></i>
                        </span>
                        {{data.request_form.until_date}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{data.request_form.resumption_token.label}}:
                </label>
                <div>
                    {{data.request_form.resumption_token}}
                </div>
            </div>
        </form>

        <div>
            <button class="btn btn-primary" id="submit-btn"
                    onclick="checkSubmit()">
                <i class="fas fa-paper-plane"></i> Submit
            </button>
            <button id="download-xml" class="btn btn-secondary"
                    style="display: none"
                    onclick="location.href='{% url 'core-admin:core_oaipmh_harvester_app_download_xml_build_req' %}';">
                <i class="fas fa-download"></i> Download XML
            </button>
        </div>
    {% else %}
        <p style="text-align: center">
            There are currently no Data Providers registered. Please
            <a href="{%url 'admin:core_oaipmh_harvester_app_registries'%}">
                add a new one
            </a>.
        </p>
    {% endif %}
    </div>
    {% autoescape off %}
        <div id="result" class="m-3" style="display: none">
        </div>
    {% endautoescape %}
{% endblock %}