{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}{% endblock %}

{% block box_tools %}
{% endblock %}

{% block box_body %}
    <div class="alert alert-warning" id="banner_submit_wait" style="display: none;">
        <h4><i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;&nbsp;Please wait ...</h4>
    </div>
    <div class="alert alert-error" id="banner_build_errors" style="display: none;">
        <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
        <div id="build_errors">
        </div>
    </div>
    <div>
    {% if data.request_form.fields.data_provider.choices|length > 1 %}
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.data_provider.label}}:</label>
                <div class="col-sm-8">{{data.request_form.data_provider}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.verb.label}}:</label>
                <div class="col-sm-8">{{data.request_form.verb}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.set.label}}:</label>
                <div class="col-sm-8">{{data.request_form.set}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.metadata_prefix.label}}:</label>
                <div class="col-sm-8">{{data.request_form.metadata_prefix}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.identifiers.label}}:</label>
                <div class="col-sm-8">{{data.request_form.identifiers}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.From.label}}:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon" onclick="$('#{{data.request_form.From.id_for_label}}').focus();">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{data.request_form.From}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.until.label}}: </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon" onclick="$('#{{data.request_form.until.id_for_label}}').focus();">
                            <i class="fa fa-calendar"></i>
                        </span>
                        {{data.request_form.until}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.request_form.resumption_token.label}}:</label>
                <div class="col-sm-8">{{data.request_form.resumption_token}}</div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button class="btn btn-primary" id="submitBtn" onclick="checkSubmit()">Submit</button>
                <button id="downloadXML" class="btn btn-default download" style="display: none"
                        onclick="location.href='{% url 'admin:core_oaipmh_harvester_app_download_xml_build_req' %}';">
                    <i class="icon-arrow-down"></i> Download XML
                </button>
            </div>
        </div>
        <br/><br/><br/>
    {% else %}
        <p align="center"> There are currently no Data Providers registered. Please
        <a href="{%url 'admin:core_oaipmh_harvester_app_registries'%}">add a new one</a>.
            </p>
    {% endif %}
</div>
{% autoescape off %}
<div style="background-color: #f0f0f0" id="result">
</div>
{% endautoescape %}
{% endblock %}