{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}deactivate-registry-modal{% endblock %}
{% block modal_title %}Deactivate data provider <i class="deactivate-registry-name"></i>{% endblock %}

{% block modal_body %}
<input id="deactivate-registry-id" type="hidden" value=""/>
<p>
    The data provider won't be erased from the database but nobody will be able to see it.
</p>
<p>Are you sure you want to deactivate this data provider?</p>
{% endblock %}

{% block modal_footer %}
<button class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal">
    <i class="fas fa-times"></i> No
</button>
<button id="deactivate-registry-yes" class="btn btn-danger"><i class="fas fa-check"></i> Yes</button>
{% endblock %}