{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}deactivate-registry-modal{% endblock %}
{% block modal_title %}Deactivate data provider <i class="deactivate-registry-name"></i>{% endblock %}

{% block modal_body %}
<input id="deactivate-registry-id" type="hidden" value=""/>
<p>
    The data provider won't be erased from the database but nobody will be able to see it.
</p>
<p>Are you sure you want to deactivate this data provider?</p>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> No</a>
<a id="deactivate-registry-yes" class="btn btn-danger" href="#"><i class="fa fa-check"></i> Yes</a>
{% endblock %}