{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}delete-registry-modal{% endblock %}
{% block modal_title %}Delete data provider <i class="delete-registry-name"></i>{% endblock %}

{% block modal_body %}
<input id="delete-registry-id" type="hidden" value=""/>
<p>
    The data provider will be erased definitely.
</p>
<p>Are you sure you want to delete this data provider?</p>
{% endblock %}

{% block modal_footer %}
<button class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal">
<i class="fas fa-times"></i> No
</button>
<button id="delete-registry-yes" class="btn btn-danger"><i class="fas fa-check"></i> Yes</button>
{% endblock %}