<div class="alert alert-error" id="banner_edit_harvest_errors" style="display: none;">
    <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
    <div id="form_edit_harvest_errors">
    </div>
</div>

<form id="edit-harvest-registry-form" method="post">
    {% csrf_token %}
    {{edit_harvest_registry_form.id}}
    <table class="data-edit-harvest">
        <thead>
            <tr class="grey">
                <th colspan="2">{{edit_harvest_registry_form.metadata_formats.label}}</th>
            </tr>
        </thead>
    {% with initial=edit_harvest_registry_form.metadata_formats.field.widget.choices.field.initial %}
    {% for pk, choice, initial_extra in  edit_harvest_registry_form.metadata_formats.field.widget.choices %}
        <tr>
            <td>{{ choice }}</td>
            <td id="ButtonSetid_metadataFormats_{{ forloop.counter0 }}" class="ui-buttonset" align="right">
                <input {% if pk in initial %}checked="checked"{% endif %} type="checkbox"
                       id="id_metadataFormats_{{ forloop.counter0 }}" value="{{ pk }}" name="metadata_formats" />
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">
                No metadata formats available.
            </td>
        </tr>
    {% endfor %}
    {% endwith %}
    </table>

    <table class="data-edit-harvest">
        <thead>
            <tr class="grey">
                <th colspan="2">{{edit_harvest_registry_form.sets.label}}</th>
            </tr>
        </thead>
    {% with initial=edit_harvest_registry_form.sets.field.widget.choices.field.initial %}
    {% for pk, choice, initial_extra in  edit_harvest_registry_form.sets.field.widget.choices %}
        <tr>
            <td>{{ choice }}</td>
            <td id="ButtonSetid_sets_{{ forloop.counter0 }}" class="ui-buttonset" align="right">
                <input {% if pk in initial %}checked="checked"{% endif %} type="checkbox"
                       id="id_sets_{{ forloop.counter0 }}" value="{{ pk }}" name="sets" />
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">
                No sets available.
            </td>
        </tr>
    {% endfor %}
    {% endwith %}
    </table>

    <div id="edit-harvest-registry-errors" style="color:red;">
        {{ errors | safe}}
    </div>
    <br/>
</form>