{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}edit-registry-modal{% endblock %}
{% block modal_title %}Edit data provider <i class="edit-registry-name"></i>{% endblock %}

{% block modal_body %}
<div id="edit-registry-modal-form">
</div>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> Cancel</a>
<a id="edit-registry-save" class="btn btn-success" onclick="editRegistry();" href="#"><i class="fa fa-save"></i> Edit data provider</a>
{% endblock %}
