{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}edit-harvest-registry-modal{% endblock %}
{% block modal_title %}Edit harvesting for data provider <i class="edit-harvest-registry-name"></i>{% endblock %}
{% block modal_class %}edit-harvest-registry-modal{% endblock %}

{% block modal_body %}
<p>
    Please select metadata formats and sets you would like to retrieve during the Harvest process for this Data Provider.
</p>

<div class="alert alert-warning" id="banner_edit_harvest_wait" style="display: none;">
    <h4><i class='fas fa-circle-notch fa-spin fa-1x'></i>&nbsp;&nbsp;Please wait ...</h4>
</div>
<div id="edit-harvest-registry-modal-form">
</div>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal" href="#">
    <i class="fas fa-times"></i> Cancel
</a>
<a id="edit-harvest-registry-save" class="btn btn-success" onclick="editHarvestRegistry();" href="#"><i class="fas fa-save"></i> Edit data provider</a>
{% endblock %}
